
header {
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
  background-color: burlywood;
}

nav li {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
  list-style-type: none;
}

.App {
  max-width: 100%;
}